In [25]:
# import necessary libraries
import pandas as pd
import os
import glob

In [26]:
os.getcwd()

'C:\\Users\\daniguvz\\OneDrive - Seguros Suramericana, S.A\\Documents\\GitHub\\macro\\social\\google_trends'

In [27]:
path = 'C:\\Users\\daniguvz\\OneDrive - Seguros Suramericana, S.A\\Documents\\GitHub\\macro\\social\\google_trends/web_downloads/'

In [28]:
csv_files = glob.glob(os.path.join(path, "*.csv"))

In [29]:
csv_files[0].split('.csv')[0].split('web_downloads\\')[1]

'ar'

In [30]:
df1 = pd.read_csv(csv_files[0])
df1 = df1.iloc[1: , :]
df1.columns = [csv_files[0].split('.csv')[0].split('web_downloads\\')[1]]
df1

            ar
2018-08-05  41
2018-08-12  13
2018-08-19  35
2018-08-26  26
2018-09-02  17
...         ..
2023-06-25  20
2023-07-02  21
2023-07-09  14
2023-07-16  12
2023-07-23   9

[260 rows x 1 columns]

In [31]:
df = pd.DataFrame()
countries = []
for file in csv_files:
    country = file.split('.csv')[0].split('web_downloads\\')[1]
    countries.append(country)
    df_temp = pd.read_csv(file)
    df_temp = df_temp.iloc[1: , :]
    df_temp.columns = [country]
    print(country)
    df = pd.concat([df, df_temp], axis = 1)

ar
br
cl
co
fr
ht
il
mx
pa
pe
rd
sv
uy

In [32]:
countries

['ar', 'br', 'cl', 'co', 'fr', 'ht', 'il', 'mx', 'pa', 'pe', 'rd', 'sv', 'uy']

In [33]:
countries_dict = {'ar':'Google_Argentina', 'br':'Google_Brazil', 'cl':'Google_Chile', 'co':'Google_Colombia',
                  'mx':'Google_Mexico', 'pa':'Google_Panama', 'rd':'Google_Dominican Republic', 'sv':'Google_El Salvador',
                  'uy':'Google_Uruguay', 'fr':'Google_France', 'ht':'Google_Haiti',
                 'il':'Google_Israel','pe':'Google_Peru'}

In [38]:
df = df.replace('<1', '1')

In [39]:
for col in df.columns:
    df[col] = df[col].astype(int)
    df.rename(columns={col:countries_dict[col]}, inplace = True)

In [40]:
df.reset_index(drop = False, inplace = True)
df.rename(columns = {'index':'date'}, inplace = True)
df

,date,Google_Argentina,Google_Brazil,Google_Chile,Google_Colombia,Google_France,Google_Haiti,Google_Israel,Google_Mexico,Google_Panama,Google_Peru,Google_Dominican Republic,Google_El Salvador,Google_Uruguay
0,2018-08-05,41,2,4,7,1,12,8,7,9,4,21,0,6
1,2018-08-12,13,2,3,6,2,0,3,9,10,7,34,18,8
2,2018-08-19,35,2,3,6,1,0,1,11,8,7,7,14,7
3,2018-08-26,26,2,3,5,2,11,4,14,0,8,21,33,9
4,2018-09-02,17,2,3,6,2,0,1,18,0,8,20,31,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,2023-06-25,20,4,3,6,11,5,11,22,30,18,16,19,11
256,2023-07-02,21,3,3,7,6,6,31,13,28,20,19,25,10
257,2023-07-09,14,3,2,9,3,7,59,13,29,22,12,16,7
258,2023-07-16,12,3,3,9,2,8,68,11,9,25,11,30,11
259,2023-07-23,9,3,4,12,2,7,70,9,19,10,16,40,10

In [15]:
"""import datetime as dt
df['date'] = pd.to_datetime(df['date'])
df["Month"] = df["date"].dt.to_period("M")"""

In [17]:
df.columns
df_m = df.groupby(['Month'])[['Google_Argentina', 'Google_Brazil', 'Google_Chile',
       'Google_Colombia', 'Google_Mexico', 'Google_Panama',
       'Google_Dominican Republic', 'Google_El Salvador', 'Google_Uruguay']].mean().reset_index()

In [20]:
df_m.rename(columns = {'Month':'date'}, inplace = True)

In [15]:
#df_m.to_excel('google_trends_manual.xlsx', index = False)
df.to_excel('google_trends_manual.xlsx', index = False)